.font-cinzel {
  font-family: var(--font-cinzel);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-josefin {
  font-family: var(--font-josefin);
}

.font-tenor {
  font-family: var(--font-tenor);
}

.font-cormorant {
  font-family: var(--font-cormorant);
}

.font-forum {
  font-family: var(--font-forum);
}